  .news-color{
      background-color: #010107;
      color: white;
  }
  .news-color:hover{
      background-color: #C9C200;
      color: black;
  }

  .news_icon{
  /* color: #C9C200; */
  font-size: 24px;
  margin-right: 5px;
}
